<div class="container mt-4">
  <div class="row">
    <div class="col">
      <input [(ngModel)]="searchPlantQuery" class="form-control" type="text" placeholder="Search plant by name">
    </div>
    <div class="col-auto">
      <button (click)="getPlantByName()" class="btn btn-primary">Search</button>
    </div>
  </div>

  <div class="row">
<div class="col-12 col-sm-6 col-md-4 mb-3" *ngFor="let plant of plants">
  <div class="card">
    <div class="image-container">
      <img [src]="plant.plantImageUrl" class="card-img-top" alt="Plant Image" />
      <div class="overlay" *ngIf="plant.isDiscounted">
        <i class="fas fa-percent discount-icon"></i>
        <span class="discount-text">20% Off!</span>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ plant.name }}</h5>
      <p class="card-text">{{ plant.description }}</p>
      </div>
    </div>
  </div>
</div>
