<div class="container-fluid">
<form (submit)="register(newUser)">
  <div class="row">
  <div>
    <input
      class="col form-control"
      type="text"
      name="username"
      [(ngModel)]="newUser.username"
      placeholder="Username"
    /><br />
  </div>
  <div>
    <input
      class="col form-control"
      type="text"
      name="email"
      [(ngModel)]="newUser.email"
      placeholder="Email"
    /><br />
  </div>
  <div>
    <input
      class="col form-control"
      type="text"
      name="password"
      [(ngModel)]="newUser.password"
      placeholder="Password"
    />
  </div>
</div>
  <button class="col-auto btn btn-accesss">Register Account</button>
</form>
</div>
