<body>
<div class="card">
<p>
  At Planty, we are passionate about bringing the tranquility of nature
  into your home. Specializing in houseplants, we offer an unmatched
  selection at unbeatable prices, ensuring that everyone can infuse their living
  spaces with a touch of green. Our commitment goes beyond just selling plants;
  we believe in the transformative power of these natural wonders to elevate
  moods, inspire creativity, and foster a serene environment. Each plant in our
  collection is carefully selected and lovingly nurtured, ensuring that when
  they arrive at your doorstep, they are in their most vibrant and healthy
  state. Our meticulous approach to delivery guarantees that your new green
  companions reach you safely, ready to thrive and enrich your home. Join us on
  our mission to transform homes and lives with the simple, yet profound, joy of
  plants.
</p>
</div>

</body>
