<!-- <h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <p> {{ message }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Yes</button>
  <button mat-button [mat-dialog-close]="false">No</button>
</div> -->


<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <p>{{ message }}</p>
  <ng-container *ngIf="linkText && linkRoute">
    <a (click)="navigateToLink()" style="cursor: pointer; color: blue; text-decoration: underline;">
      {{ linkText }}
    </a>
  </ng-container>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Yes</button>
  <button mat-button [mat-dialog-close]="false">No</button>
</div>

