/* @import "~bootstrap/dist/css/bootstrap.css"; */

body {
  background-image: url('/assets/DALL·E 2023-11-28 13.15.17 - A striking and surreal image showing a living room that blends seamlessly with a lush botanical garden. The scene includes a cozy living room setup wi.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.nav-link {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: rgba(119, 123, 235, 0.6);
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: rgba(119, 123, 235, 0.8);
}

.card {
  display: grid;
  grid-template-rows: 1fr auto;
  width: 100vw;
  max-width: 250px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
  overflow: auto;
  background-color: transparent;
  box-shadow: none;
  border: none;
  transform: translateX(-375px);
}
