/* @import "~bootstrap/dist/css/bootstrap.css"; */

body {
  background-image: url('/assets/DALL·E 2023-11-28 13.15.17 - A striking and surreal image showing a living room that blends seamlessly with a lush botanical garden. The scene includes a cozy living room setup wi.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
}
