body {
  background-image: url(assets//Users/samfath/SD/Java/Planty/ngPlanty/src/assets/DALLE-img_of_outdoor_indoor_livingroom.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  margin: 0;
}
