<body>
  <div class="container-fluid">
    <a class="nav-link" [routerLink]="['/plants']">Shop Plants</a><br>
    <a class="nav-link" [routerLink]="['/about']">Our Mission</a><br>
  </div>
  <div class="quote-container">
    <svg viewBox="0 0 500 150">
      <path id="curve" fill="transparent" d="M10,75 Q250,150 490,75" />
      <text width="500">
        <textPath href="#curve" startOffset="50%" text-anchor="middle" class="animated-text">
          Bring outside, in
        </textPath>
      </text>
    </svg>
  </div>
</body>
