/* .img-small {
  width: 200px;
  height: auto;
} */


.plant-detail .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.plant-image {
  max-width: 100%;
  height: auto;
  display: block;
}

.plant-price {
  color: #4CAF50;
  font-size: 1.5em;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 8px 16px;
  margin-top: 10px;
}

.form-control {
  margin-bottom: 10px;
}

.form-check-input {
  margin-top: 6px;
}

.form-check-label {
  margin-left: 8px;
}

