<div class="container my-4">
  <div class="welcome-message">
    <h2>Welcome, {{username}}!</h2>
  </div>
  <div class="payment-method-form">
    <h2>Add Payment Method</h2>
    <form (ngSubmit)="createPaymentData(newPaymentData)" class="form">
      <div class="form-group">
        <label for="cardType">Card Type:</label>
        <input type="text" id="cardType" [(ngModel)]="newPaymentData.cardType" name="cardType" required class="form-control">
      </div>
      <div class="form-group">
        <label for="cardHolderName">Card Holder's Name:</label>
        <input type="text" id="cardHolderName" [(ngModel)]="newPaymentData.fullName" name="cardHolderName" required class="form-control">
      </div>
      <div class="form-group">
        <label for="cardNumber">Card Number:</label>
        <input type="text" id="cardNumber" [(ngModel)]="newPaymentData.cardNumber" name="cardNumber" required class="form-control">
      </div>
      <div class="form-group">
        <label for="expiryDate">Expiry Date:</label>
        <input type="text" id="expiryDate" [(ngModel)]="newPaymentData.expirationDate" name="expiryDate" required placeholder="MM/YY" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Add Payment Method</button>
    </form>
  </div>
  <div class="payment-methods-list mt-5">
    <h2>My Payment Methods</h2>
    <ul class="list-unstyled">
      <li *ngFor="let paymentData of paymentDataList" class="payment-method">
        Card Holder: {{paymentData.fullName}} - Card Number: **** **** **** {{paymentData.cardNumber.slice(-4)}}
        <button (click)="deletePaymentData(paymentData.id)" class="btn btn-danger btn-sm">Delete</button>
      </li>
    </ul>
  </div>

  <div class="shipping-address-form">
    <h2>Add Shipping Address</h2>
    <form (ngSubmit)="createShippingAddress(newShippingAddress)" class="form">
      <div class="form-group">
        <label for="street">Street:</label>
        <input type="text" id="street" [(ngModel)]="newShippingAddress.streetAddress" name="street" required class="form-control">
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" id="city" [(ngModel)]="newShippingAddress.city" name="city" required class="form-control">
      </div>
      <div class="form-group">
        <label for="state">State:</label>
        <input type="text" id="state" [(ngModel)]="newShippingAddress.state" name="state" required class="form-control">
      </div>
      <div class="form-group">
        <label for="postalCode">Postal Code:</label>
        <input type="text" id="postalCode" [(ngModel)]="newShippingAddress.zipcode" name="postalCode" required class="form-control">
      </div>
      <div class="form-group">
        <label for="country">Country:</label>
        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
            {{ newShippingAddress.country || 'Select Country' }} <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem" *ngFor="let country of countries">
              <a class="dropdown-item" (click)="newShippingAddress.country = country.name">{{ country.name }}</a>
            </li>
          </ul>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Add Shipping Address</button>
    </form>
  </div>

  <div class="shipping-addresses-list mt-5">
    <h2>My Shipping Addresses</h2>
    <ul class="list-unstyled">
      <li *ngFor="let address of shippingAddresses" class="shipping-address">
        {{ address.streetAddress }}, {{ address.city }}, {{ address.state }}, {{ address.country }} {{ address.zipcode }}
        <button (click)="deleteShippingAddress(address.id)" class="btn btn-danger btn-sm">Delete</button>
      </li>
    </ul>
  </div>
</div>



