
.container-fluid {
  padding: 20px;
  background-color: #f0f0f0;
}

.order-detail-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-detail-card {
  display: flex;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 20px;
  width: 80%;
  max-width: 960px;
}

.image-container {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.plant-image {
  width: auto;
  max-height: 250px;
  border-radius: 8px;
}

.order-info {
  flex: 1;
  padding: 20px;
}


@media (max-width: 768px) {
  .order-detail-card {
    flex-direction: column;
  }

  .plant-image {
    max-height: 200px;
  }
}

