<div class="container-fluid order-detail-container">
  <div *ngIf="orderDetail" class="order-detail-card">
    <div class="row">
      <div class="col-md-6">
        <div class="image-container">
          <img *ngIf="plant" [src]="plant.plantImageUrl" class="plant-image" alt="Plant Image">
        </div>
      </div>
      <div class="col-md-6">
        <div class="order-info">
          <h2>{{orderDetail.quantityOrdered}} x {{plant?.name}}</h2>
          <h1>Subtotal: ${{orderDetail.subtotalPrice | number:'1.2-2'}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>

